<form method="post" action="book_isbn_10">
        <p> Please Enter your ISBN Number</p><br>
	<input type="text" pattern=".{10,}" name="isbns" placeholder="Please enter your ISBN" required>

<br>
	<input type="submit" value="Check">
</form>
