<form method="post" action="log">
	<input type="text" name="first_name" placeholder="First Name" required>
	<br>
	<input type="text" name="last_name" placeholder="Last Name" required>
	<br>
	<input type="text" name="user_name" placeholder="User Name" required>
	<br>
	<input type="password" name="pass" placeholder="Password" required>
<br>
	<input type="submit" value="Go">
</form>

<a href="signup">Sign up</a> 
<a href="forget">Did you Forget your password?</a>



