<form method="post" action="log">

	<input type="text" name="new_user_name" placeholder="User Name" required>
	<br>
	<input type="text" name="new_pass" placeholder="Password" required>
<br>
	<input type="submit" value="Go">
</form>

