<h1>Jet Pilot Rising</h1>
A Great Update to a Great (Free) Game
Reviewed By: <a href="http://www.romhacking.net/forum/index.php?action=profile;u=28857">Pr3tty F1y</a> on 19 Feb 2018<hr>
Jet Pilot Rising is a masterpiece coded by Dieter von Lazer (who, am I correct to assume, may also be d4s, creator of the also awesome SNES MSU-1 Super Road Blaster port???) for a 2013 speed coding competition and this update makes it even better. Excellent soundtrack thanks to the mod player and Stargazer’s tunes, art direction that you won’t find anywhere else on the SNES, and simple, yet addictive game play.

Amazingly this update is only 512kb compared to the prior release @ 1024kb (and there seems to be more in this release with some new fireballs to dodge).

I’m still terrible at this game and the difficulty is brutal if you’re not good at memorizing the entire maze of each of the fairly long levels.

However, this is an A+ piece of work and a home brew that everyone should try.
